<?xml version="1.0"?>
<config>
    <modules>
        <Proatwork_Ajaxstuff>
            <version>0.1.2</version>
        </Proatwork_Ajaxstuff>
    </modules>
    <global>
        <models>
            <proatwork_ajaxstuff>
                <class>Proatwork_Ajaxstuff_Model</class>
                <resourceModel>proatwork_ajaxstuff_resource</resourceModel>
            </proatwork_ajaxstuff>
            <proatwork_ajaxstuff_resource>
                <class>Proatwork_Ajaxstuff_Model_Resource</class>
            </proatwork_ajaxstuff_resource>
        </models>
        <blocks>
            <proatwork_ajaxstuff>
                <class>Proatwork_Ajaxstuff_Block</class>
            </proatwork_ajaxstuff>
            <checkout>
                <rewrite>
                    <cart_item_renderer>Proatwork_Ajaxstuff_Block_Cart_Item_Renderer</cart_item_renderer>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <proatwork_ajaxstuff>
                <class>Proatwork_Ajaxstuff_Helper</class>
            </proatwork_ajaxstuff>
            <checkout>
                <rewrite>
                    <cart>Proatwork_Ajaxstuff_Helper_Cart</cart>
                </rewrite>
            </checkout>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <proatwork_ajaxstuff>
                    <file>proatwork_ajaxstuff.xml</file>
                </proatwork_ajaxstuff>
            </updates>
        </layout>
        <routers>
            <ajaxstuff>
                <use>standard</use>
                <args>
                    <module>Proatwork_Ajaxstuff</module>
                    <frontName>ajaxstuff</frontName>
                </args>
            </ajaxstuff>
        </routers>
    </frontend>
    <default>
        <ajaxstuff>
            <settings>
                <enable>1</enable>
                <minicart><![CDATA[[{"css_selector":"div.header-minicart","block_name":"minicart_head"}]]]></minicart>
                <minicart_after><![CDATA[]]></minicart_after>
            </settings>
        </ajaxstuff>
    </default>
</config>
